$navbarHeight: 85px;
$storyNavHeight: 41px;
$lightBlue: #7b8db5;
$darkBlue: #57647f;

$pin_1_size: 48px;
$pin_2_size: 36px;
$pin_3_size: 64px;
$pin_4_size: 64px;
$pin_5_size: 48px;
$pin_6_size: 36px;
$pin_null_size: 40px;
